@model List<Account>
<link rel="stylesheet" type="text/css" href="~/css/account.css">

<div class="accountContainer">
    <div id="header">
        <button id="danger"><a href="~/main/dashboard">Voltar</a></button>
        <button id="confirm"><a href="~/account/balance">Create</a></button>
    </div>
    <ejs-grid id="Grid" dataSource="@Model">
        <e-grid-columns>
            <e-grid-column field="Month" headerText="Mês"></e-grid-column>
            <e-grid-column field="Year" headerText="Ano"></e-grid-column>
            <e-grid-column headerText="Ações" template="#actionColumnTemplate"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>
<script id="actionColumnTemplate" type="text/x-template">
    <button><a href="/account/transactions/${AccountId}">Transações</a></button>
    <button><a href="/account/delete/${AccountId}">Deletar</a></button>
</script>