@model User
<html>
    <head>
        <title>User</title>
        <link rel="icon" type="image/png" href="images/icon.png">
    </head>
    <body>
        <div>
            <button><a href="~/main/dashboard">Voltar</a></button>
        </div>
        <div>
            <h1>@Model.Name</h1>
            <h2>@Model.Email</h2>
            <h2>@Model.Balance</h2>
            <button><a href="~/user/update/@Model.UserId">Editar</a></button>
            <button><a href="~/user/delete/@Model.UserId">Apagar conta</a></button>
        </div>
</body>