<html>
    <head>
        <title>Register</title>
        <link rel="icon" type="image/png" href="~/images/icon.png">
    </head>
    <body>
        <header class="header">
            <a href="~/home/index"><img src="~/images/logo.png" alt="Logo" class="logo"></a> 
        </header>
            <div class="login-container">
                <form asp-controller="User" asp-action="SignIn" method="post">
                    <input type="text" id="name" name="name" placeholder="Name" required class="input-field">
                    <input type="email" id="email" name="email" placeholder="Email" required class="input-field">
                    <input type="password" id="password" name="password" placeholder="Password" required class="input-field">
                    <input type="submit" value="Register" class="login-button">
                </form>
            </div>
            <div class="signup-image-container">
                <img src="~/images/signupImg.png" alt="Descriptive text">
            </div>
    </body>
</html>