@model User
<html>
    <head>
        <title>Update</title>
        <link rel="icon" type="image/png" href="~/images/icon.png">
    </head>
    <body>
        <form action="~/user/update/@Model.UserId" method="Post">
            <input asp-for="Name" type="text" placeholder="Name">
            <input asp-for="Email" type="text" placeholder="Email">
            <input asp-for="Password" type="text" placeholder="Password">
            <input asp-for="Balance" type="text" placeholder="Balance">
            <button type="submit">Save</button>
        </form>
    </body>
</html>