<!DOCTYPE html>
<html>
<head>
    <title>FinanceUP!</title>
    <link rel="icon" type="image/png" href="images/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body background="images/bg3.png">
    <div class="header">
        <a href="~/home/index"><img src="images/logo.png" alt="Logo" class="logo"></a> 
        <a href="~/user/login"><button class="login-button"><i class="fas fa-sign-in-alt"></i>Entrar</button></a>
    </div>
    <div class="rounded-rectangle">
        <p class="text1">Toda a sua vida financeira <br> em um lugar só</p>
        <p class="text2">Invista, gerencie seus gastos, <br> aprenda e muito mais!</p>
        <a href="#" class="text3">Não possui uma conta ainda?</a>
        <a href="~/user/signin"><button class="signup-button">Cadastrar</button></a>
    </div>
</body>
</html>